body {
  border-width: 5px;
  border-style: solid;
  border-color: burlywood;
  margin: auto;
  padding: 10px;
}
#top {
}

#logo {
  float: left;
}
#name {
  text-align: center;
}
#cntrl {
  float: right;
}



#container {
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  clear: both;
}
#menu {
  border-width: 2px;
  border-style: solid;
  border-color: burlywood;
  width: 290;
  float: left;

}
#order {
  border-width: 2px;
  border-style: solid;
  border-color: burlywood;
  width: 200;
  float: right;
}
