<html>
  <head>
    <title>Takeaway</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
  </head>
  <body>
    <div id=top>
      <header>
        Takeaway
      </header>
      <div id=other>
        <div id=logo>
          Logo
        </div>
        <div id=cntrl>
          <button>Log In</button>
          <button>Sign Up</button>
        </div>
      </div>

    </div>

    <div id=container>
      <div id=menu>
        -----Menu will appear here------
      </div>

      <div id=order>
        ---Order will appear here---
      </div>
    </div>
  </body>
</html>
