<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title><%= title %></title>
</head>
  <body>
  <h1><%= title %></h1>
    <div id="top">
      <header>
        Takeaway
        <% if ( user ) { %>
          <h2>Hello <%=user%> </h2>
          <a href="/logout">Logout</a>
        <% } else { %>
            <a href="/register">Register</a>
            <a href="/login">Login</a>
        <% } %>
      </header>
      <div id="other">
        <div id="logo">
          <img src='/img/logo.jpeg' width=40 height=40>
        </div>
        <div id="cntrl">
          <button id="login" type="button" class="button">Log In</button>
          <button id="signup" type="button" class="button">Sign Up</button>
        </div>
      </div>

    </div>

    <div id="container">
      <div id="menu">
        -----Menu will appear here------
      </div>

      <div id="order">
      <ul id="listorder">
      </ul>
      </div>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery_frontend.js"></script>
    <script src="js/order.js"></script>
  </body>
</html>
